* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aqua;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul {
    display: flex;
    justify-content: center;
}

header li {
    list-style: none;
}

header li a {
    text-decoration: none;
    color: rgb(245, 245, 245);
    font-size: 40px;
    background-color: grey;
    padding: 50px;
    margin-left: 50px;
}

#video-holder {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#first-video, #second-video, #third-video {
    display: none;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

button {
    position: absolute;
    font-size: 90px;
    padding: 20px 80px;
    border-radius: 40px;
    background-color: greenyellow;
    transition: 0.4s;
    top: 40%;
    left: 30%;
}

button:hover {
    background-color: rgb(245, 250, 97);
}